.roleSteps-wrapper-styles { margin-bottom: 40px }

.roleSteps-stepButton-styles {
  margin: 10px 10px 0px 0px;
  height: 50px !important;
}

.roleSteps-stepButtonRow-styles {
  max-width: 95%;
  margin: auto;
}

.roleSteps-roleTitle-styles {
  font: 24px Segoe UI, sans-serif;
  margin-top: 20px;
}
