.project-dropdown-styles{
  width: 200px;
  margin: 20px 0px;
}

.projectFormModal-styles{
  height: 80vh;
  width: 40vw;
  padding: 32px;
}

.projectFormModal-larger-styles{
  font-size: 1.5em;
}

.project-buttonbar-styles{
  padding: 16px;
}
