{
  "printWidth": 140,
  "parser": "typescript",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "useTabs": false,
  "trailingComma": "es5",
  "overrides": [
    
  ]
  
}