.searchProcess-styles {
    max-width: 95%;
    margin: auto;
}

.searchProcess-title-styles {
    font: 24px Segoe UI, sans-serif;
}

.searchProcess-searchbox-styles {
    width: 300px;
    margin-top: 10px;
}

.employeeDashboard-wrapper {
    display: "flex";
}

.employeeDashboard-roles-search {
    min-width: 60%;
    max-width: 75%;
}