.listItem-styles {
    border-bottom: 1px inset #505050;
    padding: 13 0;
}

.list-styles { max-width: 400; padding: 0 }
.listItemBody-styles { font: 18px Segoe UI, sans-serif }

.listItemTitle-styles {
    font: 20px Segoe UI, sans-serif;
    color: #202020;
    font-weight: 200;
    margin-right: 15;
}

.listItemSubheader-styles {
    font: 12px Segoe UI, sans-serif;
    color: #A9A9A9;
    margin-bottom: 10;
}

.listItemHeader-styles { display: flex }
