.ms-Dialog-main {
  min-width: 450px !important;
}

.ms-Dialog-title.title_352a7c92 {
  padding-bottom: 0 !important;
}

.ms-Dropdown.root_dde8ead6.is-disabled.rootIsDisabled_dde8ead6 span {
  background-color: #f0f0f0 !important;
}

body {
    padding: 0px;
    margin: 0px;
}
