
.formControlGroup-styles {
    width: 450px;
    margin: 0px 0px;
}

.formControlGroup-formControl-styles {
    margin: 20px 0px;
}

.formControlGroup-formControl-styles label {
    font-weight: 600
}

.ms-Checkbox-text.css-100 {
    font-weight: 600;
    color: rgb(51, 51, 51);
}

.formControlGroup-disabledInput-styles {
    background-color: #F0F0F0;
}
