.headerBreadcrumb-breadcrumbItem-styles {
    background-color: #ffffff !important;
    font: 20px Segoe UI, sans-serif !important;
    color: #202020 !important;
    font-weight: lighter !important;
    font-size: 32px !important;
}

.headerBreadcrumb-wrapper-styles {
    margin-bottom: 10 !important;
}
