.projectProcessList-styles {
  max-width: auto;
  width: 100%;
}

.projectProcessList-header-styles {
  font-size: 2em;
  margin-right: 10px;
}

.projectProcessList-larger-styles {
  font-size: 1.3em;
}
