.processFormModal-dropdown-styles{
  max-width: 350px;
  width: auto;
  margin: 20px 0px;
}

.processFormModal-styles{
  height: 80vh;
  width: 40vw;
  padding: 32px;
}
.process-buttonbar-styles{
    padding: 16px;
  }

  .pivot-tab {
      margin: 8px 0px;
  }
