.header-wrapper-styles {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.header-persona-styles {
  margin-top: 18px;
}

.header-title-styles {
  font: 65px Segoe UI, sans-serif;
  color: #686868;
  margin: 0px 10% 0px 25%;
  align-self: center;
}

.header-toggle-styles {
  margin-top: 18px;
}
