.header-wrapper-styles {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.header-persona-styles {
    margin-top: 18;
}

.header-title-styles {
    font: 65px Segoe UI, sans-serif;
    color: #686868;
    margin: 0 10% 0 25%;
    align-self: center;
}

.header-toggle-styles {
    margin-top: 18;
}
