.workDetail-wrapper-styles {
  padding: 20px 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  background: #f8f8f8;
}

.title-styles {
  text-align: center;
  margin-bottom: 10px;
  font: 30px Segoe UI, sans-serif;
  width: 350px;
}

.submitButton-styles {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 25px;
}

.editButton-styles {
  transform: translateX(-25px);
}

.workHeader-styles {
  display: flex;
}

.formColumn-styles {
  padding: 0px 8px 0px 30px;
}

.notesColumn-styles {
  padding: 0px 30px 0px 8px;
}
